.venv
*.pyc
debug_log.txt

*..venv
..*/__pycache__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VSCode
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db
